.illuminate,
.illuminati {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif; 
}

.illuminate {
    background-color: black;
    color: white;
}

.illuminati {
    background-color: yellow;
}